<article class="note bb b--black-10 pv3 pv4-ns">
  <div class="note-content nested-copy-line-height nested-links lh-copy f5 f4-ns mid-gray">
    {{ .Content }}
  </div>

  {{ with .Params.images }}
    {{ $count := len . }}
    <div class="note-images mt3 {{ if eq $count 1 }}single{{ else }}grid{{ end }}">
      {{ range . }}
        <img src="{{ . | relURL }}" alt="" loading="lazy" class="br2 db" />
      {{ end }}
    </div>
  {{ end }}

  <time class="f7 mt3 db mid-gray" {{ fmt.Printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safe.HTMLAttr }}>
    {{- .Date.Format "2006-01-02 15:04" -}}
  </time>
</article>