{{ define "header" }}
{{ $categoryName := .Title }}
{{ $titleMap := dict "Tech" "技术" "Photo" "摄影" "AI" "AI" "Investment" "投资" "TechNews" "科技资讯" "Science" "科学" "Art" "艺术" }}
{{ with index $titleMap $categoryName }}
  {{ $categoryName = . }}
{{ end }}
<header class="pb3 mv4">
  <div class="tc-l pv3 ph4-ns">
    <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">{{ $categoryName }}</h1>
  </div>
</header>
{{ end }}

{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      <p>共 {{ len .Pages }} 篇文章</p>
      {{- .Content -}}
    </section>
    <section class="flex-ns mt5 flex-wrap justify-around">
      {{ range .Paginator.Pages }}
        <div class="w-100 w-30-l mb4 relative bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
    {{ partial "pagination.html" . -}}
  </article>
{{ end }}
