{{ define "header" }}
{{ $categoryName := .Title }}
{{ $translated := T (printf "category.%s" $categoryName) }}
{{ if eq $translated (printf "category.%s" $categoryName) }}
  {{ $categoryName = $translated }}
{{ else }}
  {{ $categoryName = $translated }}
{{ end }}
<header class="pb3 mv4">
  <div class="tc-l pv3 ph4-ns">
    <h1 class="f2 f-subheadline-l fw2 light-silver mb0 lh-title">{{ $categoryName }}</h1>
  </div>
</header>
{{ end }}

{{ define "main" }}
  <article class="cf pa3 pa4-m pa4-l">
    <div class="measure-wide-l center f4 lh-copy nested-copy-line-height nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      <p>共 {{ len .Pages }} 篇文章</p>
    </div>
  </article>
  <div class="mw8 center">
    <section class="flex-ns mt5 flex-wrap justify-around">
      {{ range .Pages }}
        <div class="w-100 mb4 relative bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>
  </div>
{{ end }}
