{{ define "main" }}
  <div class="mw8 center">
    <section class="ph4">
      {{ range $term := first 100 .Data.Pages }}
        <h2 class="f1">
          <a href="{{ $term.RelPermalink }}" class="link blue hover-black">
            {{ $.Data.Singular | inflect.Humanize }}: {{ $term.Title }}
          </a>
        </h2>
        {{ range first 5 $term.Pages }}
          {{ .Render "summary" }}
        {{ end }}
        {{ if gt (len $term.Pages) 5 }}
          <p class="f5 ml4">
            <a href="{{ $term.RelPermalink }}" class="link blue hover-dark-blue">
              查看全部 {{ len $term.Pages }} 篇 →
            </a>
          </p>
        {{ end }}
      {{ end }}
    </section>
  </div>
{{ end }}
