{{- $featured_image := partial "func/GetFeaturedImage.html" . -}}
{{- if .Param "twitter:image" -}}
<meta name="twitter:image" content="{{ .Param "twitter:image" | absURL }}" />
{{- else if $featured_image -}}
<meta name="twitter:image" content="{{ $featured_image | absURL }}" />
{{- else -}}
<meta name="twitter:image" content="{{ .Site.Params.open_graph_image | absURL }}" />
{{- end -}}
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Summary | plainify }}{{ end }}" />
