{{ define "main" }}

  {{- $config := site.Params.ananke.home -}}
  {{- $text_alignment := "tc-l" -}}
  {{- if eq $config.content_alignment "left" -}}
    {{- $text_alignment = "tl-l" -}}
  {{- else if eq $config.content_alignment "right" -}}
    {{- $text_alignment = "tr-l" -}}
  {{- end -}}

  <article class="cf ph3 ph5-l pv3 pv4-l f4 {{ $text_alignment }} center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
    {{ .Content }}
  </article>

  {{/* 使用分页 */}}
  {{ $paginator := .Paginate (where .Site.RegularPages "Section" "in" .Site.Params.mainSections) }}

  {{ if gt $paginator.TotalPages 0 }}
    <div class="pa3 pa4-ns w-100 w-70-ns center">
      <section class="w-100 mw8">
        {{ range $paginator.Pages }}
          <div class="w-100 mb4 relative">
            {{ .Render "summary-with-image" }}
          </div>
        {{ end }}
      </section>

      {{/* 分页导航 - 使用主题样式 */}}
      {{ if gt $paginator.TotalPages 1 }}
      <nav class="flex justify-center pt4 pb3" role="navigation" aria-label="Pagination">
        <ul class="list pl0 tr">
          {{ if $paginator.HasPrev }}
          <li class="dib mr2">
            <a href="{{ $paginator.Prev.URL }}" class="f6 link bg-black-10 hover-bg-black-20 bg-animate black-80 b--black-10 dib pa2 br2">← 上一页</a>
          </li>
          {{ end }}
          
          <li class="dib mr2">
            <span class="f6 black-50 pa2">{{ $paginator.PageNumber }} / {{ $paginator.TotalPages }}</span>
          </li>
          
          {{ if $paginator.HasNext }}
          <li class="dib">
            <a href="{{ $paginator.Next.URL }}" class="f6 link bg-black-10 hover-bg-black-20 bg-animate black-80 b--black-10 dib pa2 br2">下一页 →</a>
          </li>
          {{ end }}
        </ul>
      </nav>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
