{{ define "header" }}
{{ $featured_image := "https://tanteng.space/blog-cover.jpg" | urls.AbsURL }}
{{ if eq .Kind "home" }}
<header class="cover bg-top default-cover" style="background-image: url('{{ $featured_image }}');">
  <div class="bg-black-60">
    {{ partials.Include "site-navigation.html" . }}
  </div>
</header>
{{ else }}
<header class="cover bg-top default-cover" style="background-image: url('{{ $featured_image }}');">
  <div class="bg-black-60">
    {{ partials.Include "site-navigation.html" . }}
    <div class="tc-l pv4 pv6-l ph3 ph4-ns">
      <h1 class="f2 f-subheadline-l fw2 white-90 mb0 lh-title">
        {{ .Title }}
      </h1>
    </div>
  </div>
</header>
{{ end }}
{{ end }}

{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      <p>共 {{ len .Pages }} 篇文章</p>
    </section>
    {{ $sorted := .Pages }}
    {{ if eq .Kind "home" }}
      {{ $sorted = .Pages.ByWeight.Reverse }}
    {{ else }}
      {{ $sorted = .Pages.ByDate.Reverse }}
    {{ end }}
    {{ $pages := .Paginate $sorted }}
    <section class="flex-ns mt3 mt5-l flex-wrap justify-around">
      {{ range $pages.Pages }}
        <div class="w-100 w-30-l mb4 relative bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </section>

    {{ partial "section-pagination.html" (dict "paginator" $pages "current" $pages.PageNumber "total" $pages.TotalPages) }}
  </article>
{{ end }}
